body {
  /* background-color: rgb(68, 52, 138); */
  /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
  /* color: #fff; */
  font-family: 'Raleway', sans-serif;
  margin: 0;
  /* background: url('../img/bg-home-sol.jpg') no-repeat;
  background-size: cover;
  height: 100vh; */
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
/* Layout, position, padding, margin, height */
.ant-layout-header {
  height: 90px;
}
.pad-section {
  padding-left: 4%;
  padding-right: 4%;
}
.padFAwe{
  padding-right: 10%;
  padding-left: 10%;
}
/* Texts */
.sizeTitle {
  font-size: 2.5em;
}
.sizeMedium {
  font-size: 1.5em;
}
.boldTitle {
  font-weight: 700;
  font-size: 1em;
}
.titles {
  font-weight: 400;
  font-size: 2.5em;
}
.upperStyle {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.3em;
}
.whiteFont {
  color: #fff;
}
.purple {
  color: #da32ab;
}
/* Transition words animation */
.reveals-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  cursor: pointer;
}
.reveals-main > div {
  /* font-weight: 800;
  font-size: 4em; */
  will-change: transform, opacity;
  overflow: hidden;
}
.container-home-bg{
  background: url('../img/bg-home-sol.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
}

/*Burger*/
.burger-menu,
.burger-menu.open {
  cursor: pointer;
  position: sticky;
  right: 20px;
  bottom: 40px;
  top: 20px;
  z-index: 9999;
  padding: 15px;
  border-radius: 50%;
  float: right;
  /* display: inline-block; */
  background: #fff;
  box-shadow: 0 1px 12px 3px rgba(0, 0, 0, 0.25);
}

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: rgb(107, 107, 107);
  margin: 4px 0;
  transition: 0.5s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

/* Menu */
.menu {
  width: 100%;
  display: block;
  text-align: center;
  padding: 0px;
}
.menu ul {
  position: relative;
  top: 0px;
  font-size: 24px;
  padding: 0px;
}
.menu li {
  list-style: outside none none;
  margin: 10px 0px;
  padding: 0;
  cursor: pointer;
}
.menu li:hover {
  color: #ff0000;
}

/* Button's style*/
.line-btn {
  border: 1px solid white;
  background: transparent;
  width: 80%;
  padding: 1em 2em 1em 2em;
  font-size: 0.9em;
  border-radius: 3px;
  color: white;
  transition: background 0.5s ease;
}

.line-btn:hover {
  background: #da32ab;
  opacity: 1;
  color: white;
  font-weight: normal;
  cursor: pointer;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background  0.5s ease;
}
.line-btn:focus {
  outline:0;
}
/* Links */
a {
  text-decoration: none;
}
.menu-links {
  color: #888;
}
.menu-links:hover {
  color: rgb(97, 97, 97);
}
.menu-links:visited {
  color: #888;
}